<h1>$word.getWord()</h1>

#foreach ($info in $word.getDefinition())
	<p><em>$info.getType()</em></p>
	<p><stong>$info.getDefintion()</stong></p>
#end

<a class="btn btn-info" href="/word/$word.getId()/new">Add Defintion to $word.getWord()</a>