<h1>Add a word</h1>

<p>Add a word here:</p>

<form action="/word" method="post">
  <div class='form-group'>
    <label for='name'>New word:</label>
    <input id='name' name='name' class='form-control' type='text' required />
  </div>
  <button type='submit' class='btn btn-success'>Submit</button>
</form>