<h1>List of Words</h1>
#if($post)
  <h3 class="successfully">Word added successfully!</h3>
#end

#if ($words.size() != 0)
  <ul class="big">
    #foreach ($word in $words)
      <li><a href="word/$word.getId()"> $word.getWord()</a></li>
    #end
  </ul>
#else
  <p>No Words</p>
#end

<a class="btn btn-primary" href="/word/new">Add New Word</a>