<h1>add meaning for $word.getWord()</h1>

<form action="/word/$word.getId()" method="post">
  <div class='form-group'>
    <label for='name'>Definition for $word.getWord():</label>
    <textarea id='info' name='info' class='form-control'></textarea>
  </div>
  <button type='submit' class='btn btn-success'>Submit</button>
</form>